@import "../../bower_components/susy/sass/susy";

$susy: (
  columns: 12,
  global-box-sizing: border-box,
  debug: (image:hide)
  );

// vars:
$mobileWidth: 100%;
$mobilePlusWidth: span(10);
$bigWidth: span(8);
$mainColor: hsl(341,91%,57%); 
$sayColor: hsl(202, 67%, 57%);
$shareColor: hsl(75, 82%, 40%);


@include border-box-sizing;

.cf:after  {
  content: "";
  display: table;
  clear: both;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  &.new {
    background-color: $sayColor;
  }
  &.share {
    background-color: $shareColor;
  }
}

a {
    border-bottom: 4px solid $mainColor;
    
    &:link, &:visited, &:hover, &:focus, &:active {
      text-decoration: none;
      color: #000;
    }
}

.container {
  @include container();
}

.snap-content {
  background-color: #fff;
  padding-bottom: 100px;
  //box-shadow: 1px 0 7px black;
  .new & {
    background-color: $sayColor;
  }
  .share & {
    background-color: $shareColor;
  }
}

.snap-drawer {
  background-color: #000;
  padding: 15px;
  color: #fff;
}

.logo-h1 {
  text-align: center;
  margin: 20px 0 90px 0;
  //padding-bottom: 15px;
  > a {
    border: none;
    &:link, &:visited, &:hover, &:focus, &:active {
      color: $mainColor;
      font-size: 2.5em;
      line-height: 1em;
      text-transform: uppercase;
      text-decoration: none;
    }
  } 
}

.menu {
  text-align: center;
  list-style-type: none;
  
  font-size: 2.7em;
  //line-height: 2.7em;

  padding: 0;
  margin: 0;


  li {
    margin-bottom: 30px;
    
    a {
        border-bottom: 5px solid $sayColor;
      &:link, &:visited, &:hover, &:focus, &:active {
        text-decoration: none;
        color: #fff;
      }
    }
    
    &:nth-child(2) {
      a {
        border-bottom: 5px solid $shareColor;
      }
    }
  }

}
.content-view {
  position: relative;
}

.message-wrapper, 
.form-wrapper, 
.share-wrapper {
  position: relative;
  display: block;
  top: 35px;
  font-size: 3.4em;
  line-height: 1em;

  width: $mobileWidth;

  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media (min-width: 420px) {
    font-size: 4em;
    top: 45px;
    width: $mobilePlusWidth;
  }
  @media (min-width: 768px) {
    font-size: 5em;
    top: 55px;
    width: $bigWidth;
  }
}

.message-wrapper {
  .icons {
    text-align: center;
    margin-top: 90px;
    width: 50%;
    svg {
      //border: 3px solid black;
      border-radius: 1em;
      padding: .17em;
      outline: none;
    }
  }
  .share_icon {
    float: left;
    cursor: pointer;
    svg {
      fill: #fff;
      background-color: $shareColor;
    }
  }
  .replay_icon {
    float: right;
    cursor: pointer;
    svg {
      fill: #fff;
      background-color: $mainColor;
    }
  }
}

.message {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  word-wrap: break-word;
  .blink {
    color: $mainColor;
    font-size: 1.1em;
  }
} 

.menu_button {
  background-color: $mainColor;
  position: relative;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  margin: 15px;
  &:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #fff;
    top: 10px;
    left: 16%;
    box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
  }

  .new & {
    background-color: $shareColor;
  }
  .share & {
    background-color: #744783;
  }
}

.form-wrapper {

  form {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 100%;

    label {
      display: inline-block;
      margin-bottom: 15px;
    }

    textarea {
      padding: 15px;
      width: 100%;
      border: 5px solid #fff;
      background: transparent;
      display: block; // get rid of extra space
      &:focus {
        outline: none;
        //border: 5px solid #10689a;
      }
    }

    button {
      font-size: .9em;
      // background-color: #10689a;
      background-color: $mainColor;
      border: none;
      color: #fff;
      width: auto;
      cursor: pointer;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 2px;
      margin: 15px 0 0 0;
    }
  }

  .input_count {
    float: right;
    font-size: .5em;
    line-height: .7em;
    margin: 15px 0 0 0;
    // margin: -45px 10px 0 0;
  }
}

.share-wrapper {
  color: #fff;
  line-height: 1.1em;
  .no_say{
    font-size: 1em;
  }

  .share {
    margin: 0;
    word-wrap: break-word;
    dt{
      font-size: 1em;
      line-height: 1em;
      color: #744783;
      padding: 0;
      margin: 0 0 15px 0;
      &+dd{
        font-size: 1em;
        line-height: 1em;
        margin: 0 0 50px 0;
      }
    }

    dt:nth-of-type(2) {
      font-size: .8em;
      line-height: 1em;
      color: yellow;
      &+dd{
        font-size: .4em;
        line-height: 1.2em;
        background-color: yellow;
        border-radius: 2px;
        padding: 15px;
      }
    }

    a {
      border-bottom: 4px solid $sayColor;
      //word-wrap: break-word;
    }
  }
  p {
    margin:0;
    padding:0;
  }

}


/// typewrite styles

@keyframes blink-it { 
  0% { opacity:1 }
  50% { opacity:0 }
  100% { opacity:1 }
}

.blink{
  animation:blink-it steps(1) 1s infinite
}

// angular rule
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}