@import "../../bower_components/susy/sass/susy";

$susy: (
  columns: 12,
  global-box-sizing: border-box,
  debug: (image:hide)
  );

@include border-box-sizing;

body {
  background-color: #ccc;
}

.container {
  @include container();
}

p {
  width: span(5);
  margin-left: auto;
  margin-right: auto;
}