*, *:before, *:after {
  box-sizing: border-box; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }
  html.new, body.new {
    background-color: #48a5db; }
  html.share, body.share {
    background-color: #90ba12; }

a {
  border-bottom: 4px solid #f52e6d; }
  a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.snap-content {
  background-color: #fff;
  padding-bottom: 100px; }
  .new .snap-content {
    background-color: #48a5db; }
  .share .snap-content {
    background-color: #90ba12; }

.snap-drawer {
  background-color: #000;
  padding: 15px;
  color: #fff; }

.logo {
  margin: 0 0 180px 0; }
  .logo h1 {
    text-align: center;
    font-size: 4.5em;
    line-height: 1.1em;
    margin: 0;
    padding: 0; }
    .logo h1 > a {
      border: none; }
      .logo h1 > a:link, .logo h1 > a:visited, .logo h1 > a:hover, .logo h1 > a:focus, .logo h1 > a:active {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none; }
  .logo hr {
    height: 5px;
    border: 0;
    margin: -5.1em 0 0 0;
    background-color: #f52e6d; }

.menu {
  text-align: center;
  list-style-type: none;
  font-size: 2.7em;
  padding: 0;
  margin: 0; }
  .menu li {
    margin-bottom: 30px; }
    .menu li a {
      border-bottom: 5px solid #48a5db; }
      .menu li a:link, .menu li a:visited, .menu li a:hover, .menu li a:focus, .menu li a:active {
        text-decoration: none;
        color: #fff; }
    .menu li:nth-child(2) a {
      border-bottom: 5px solid #90ba12; }

.content-view {
  position: relative; }

.message-wrapper,
.form-wrapper,
.share-wrapper {
  position: relative;
  display: block;
  top: 35px;
  font-size: 3.4em;
  line-height: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }
  @media (min-width: 420px) {
    .message-wrapper,
    .form-wrapper,
    .share-wrapper {
      font-size: 4em;
      top: 45px;
      width: 83.05085%; } }
  @media (min-width: 768px) {
    .message-wrapper,
    .form-wrapper,
    .share-wrapper {
      font-size: 5em;
      top: 55px;
      width: 66.10169%; } }

.message-wrapper .icons {
  text-align: center;
  margin-top: 90px;
  width: 50%; }
  .message-wrapper .icons svg {
    border-radius: 1em;
    padding: .17em;
    outline: none; }

.message-wrapper .share_icon {
  float: left;
  cursor: pointer; }
  .message-wrapper .share_icon svg {
    fill: #fff;
    background-color: #90ba12; }

.message-wrapper .replay_icon {
  float: right;
  cursor: pointer; }
  .message-wrapper .replay_icon svg {
    fill: #fff;
    background-color: #f52e6d; }

.message {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  word-wrap: break-word; }
  .message .blink {
    color: #f52e6d;
    font-size: 1.1em; }

.menu_button {
  background-color: #f52e6d;
  position: relative;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  margin: 15px; }
  .menu_button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #fff;
    top: 10px;
    left: 16%;
    box-shadow: 0 10px 0 #fff, 0 20px 0 #fff; }
  .new .menu_button {
    background-color: #90ba12; }
  .share .menu_button {
    background-color: #744783; }

.form-wrapper form {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 100%; }
  .form-wrapper form label {
    display: inline-block;
    margin-bottom: 15px; }
  .form-wrapper form textarea {
    padding: 15px;
    width: 100%;
    border: 5px solid #fff;
    background: transparent;
    display: block; }
    .form-wrapper form textarea:focus {
      outline: none; }
  .form-wrapper form button {
    font-size: .9em;
    background-color: #f52e6d;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 2px;
    margin: 15px 0 0 0; }

.form-wrapper .input_count {
  float: right;
  font-size: .5em;
  line-height: .7em;
  margin: 15px 0 0 0; }

.share-wrapper {
  color: #fff;
  line-height: 1.1em; }
  .share-wrapper .no_say {
    font-size: 1em; }
  .share-wrapper .share {
    margin: 0;
    word-wrap: break-word; }
    .share-wrapper .share dt {
      font-size: 1em;
      line-height: 1em;
      color: #744783;
      padding: 0;
      margin: 0 0 15px 0; }
      .share-wrapper .share dt + dd {
        font-size: 1em;
        line-height: 1em;
        margin: 0 0 50px 0; }
    .share-wrapper .share dt:nth-of-type(2) {
      font-size: .8em;
      line-height: 1em;
      color: yellow; }
      .share-wrapper .share dt:nth-of-type(2) + dd {
        font-size: .4em;
        line-height: 1.2em;
        background-color: yellow;
        border-radius: 2px;
        padding: 15px; }
    .share-wrapper .share a {
      border-bottom: 4px solid #48a5db; }
  .share-wrapper p {
    margin: 0;
    padding: 0; }

@-webkit-keyframes blink-it {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink-it {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.blink {
  -webkit-animation: blink-it steps(1) 1s infinite;
  animation: blink-it steps(1) 1s infinite; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/*# sourceMappingURL=style.css.map */