<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>yousay.buzz</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
  <!-- build:css css/styles.css -->
  <link rel="stylesheet" href="css/angular-snap.css">
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <!-- endbuild -->
  <base href="/">
</head>


<body ng-app="yousay" class="{{bodyPathClass}}" ng-cloak>


<div class="container" ng-controller="NavController as nav">
  <nav snap-drawer>
    <h1 class="logo-h1"><a href ng-click="nav.locationSwith('/')" title="YouSay Home">You Say</a></h1>
    <p class="description">I like bold thoughts</p>
    <ul class="menu">
      <li><a href ng-click="nav.locationSwith('/new/')" title="Create new message">Say</a></li>
      <li><a href ng-click="nav.locationSwith('/share/')" title="Share your message">Share</a></li>
    </ul>
  </nav>

  <main snap-content scroll-glue>
    <button snap-toggle="left" class="menu_button">Open Menu</button>
    <ng-view class="content-view"></ng-view>
  </main>
</div>


<!-- build:js scripts/scripts.js -->
<script src="lib/angular.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/angular-aria.js"></script>
<script src="lib/angular-utf8-base64.js"></script>
<script src="lib/angular-typewrite.js"></script>
<script src="lib/snap.js"></script>
<script src="lib/angular-snap.js"></script>
<script src="lib/scrollglue.js"></script>

<script src="src/app.js"></script>
<script src="src/message.controller.js"></script>
<script src="src/message.factory.js"></script>
<script src="src/nav.controller.js"></script>
<script src="src/share.controller.js"></script>
<!-- endbuild -->

</body>
</html>